<form class="d-inline-block" action="/category/category/delete/{{ category.id_category }}" method="post" onsubmit="return confirm('¿Do you want to delete the category?')">    
    <button type="submit" class="btn btn-outline-danger">Delete category</button>
</form>