{% extends "base.twig" %}

{% block title %}
    E-commerce | Categories
{% endblock title %}

{% block main %}
    <h3 class="text-center">Categories Index</h3>
    <section class="row">
        <fieldset class="col-sm-12 col-md-7 col-lg-6 mx-auto rounded shadow">
            <table class="table table-bordered">
            {% for category in categories %}
                <tr>
                    <td>{{ category.category|capitalize }}</td>
                    <td><a href="#">Edit</a></td>
                    <td>
                        {{ include('categories/delete_form.twig') }}
                    </td>                                                            
                </tr>
            {% endfor %}
            </table>
        </fieldset>
    </section>
{% endblock main %}