{% extends "base.twig" %}

{% block title %}
    E-commerce | Categories
{% endblock title %}

{% block main %}
    <h3 class="text-center">Categories Index</h3>
    <section class="row">
        <fieldset class="col-8 mx-auto rounded shadow">
            <ul>
            {% for category in categories %}
                <li>{{ category.category|capitalize }}</li>
            {% endfor %}
            </ul>
        </fieldset>
    </section>
{% endblock main %}