<form class="d-inline-block" action="/products/delete/{{ product.id }}" method="post" onsubmit="return confirm('¿Do you want to delete the product?')">    
    <button type="submit" class="btn btn-outline-danger">Delete product</button>
</form>