{% extends "base.twig" %}

{% block title %}E-commerce | New Product{% endblock title %}

{% block main %}
    <section class="row rounded shadow p-3 p-lg-5">
        <h3 class="text-center">Create new product</h3>
        
        <article>
            {{ include('products/form_view.twig') }}
            <a class="btn btn-outline-secondary" href="/admin">Volver</a>
        </article>         
    </section>    
{% endblock main %}