{% extends "base.twig" %}
{% block title %}
    E-commerce | home
{% endblock title %}

{% block main %}
    <div class="row col-sm-12 col-lg-11 mb-5 mx-auto">
        <section class="col-sm-12 col-lg-6 home-text-main">
            <h2 class="text-center">Welcome to our online-shop</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repellat recusandae 
                nostrum consequatur? Unde eius animi rem, saepe dignissimos consectetur laboriosam 
                nobis quasi expedita cum architecto. Saepe quod aliquam unde.
            </p>
        </section>
        <figure class="col-sm-12 col-lg-6 home-images-main">
            <img src="images/home_01.webp" alt="shopping girl">
        </figure>
    </div>

    <div class="row col-sm-12 col-lg-11 mb-5 mx-auto">
        <figure class="col-sm-12 col-lg-6 d-none d-lg-inline-block home-images-main">
            <img src="images/home_02.webp" alt="shopping girl">
        </figure>
        <section class="col-sm-12 col-lg-6 home-text-main">
            <h2 class="text-center">Visit our products section</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repellat recusandae 
                nostrum consequatur? Unde eius animi rem, saepe dignissimos consectetur laboriosam 
                nobis quasi expedita cum architecto. Saepe quod aliquam unde.
            </p>
            <div class="text-center text-lg-start mb-3">
                <a class="btn btn-outline-primary" href="/products">Go to our products</a>   
            </div>                     
        </section>
        <figure class="col-sm-12 col-lg-6 d-lg-none home-images-main">
            <img src="images/home_02.webp" alt="shopping girl">
        </figure>       
    </div>

    <div class="row col-sm-12 col-lg-11 mb-5 mx-auto">
        <section class="col-sm-12 col-lg-6 home-text-main">
            <h2 class="text-center">Contact with us</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repellat recusandae 
                nostrum consequatur? Unde eius animi rem, saepe dignissimos consectetur laboriosam 
                nobis quasi expedita cum architecto. Saepe quod aliquam unde.
            </p>
        </section>
        <figure class="col-sm-12 col-lg-6 home-images-main">
            <img src="images/home_03.webp" alt="call center">
        </figure>
    </div>
{% endblock main %}