@font-face{
font-family: ubuntuRegular;
src: url('../ttf/Ubuntu-R.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBold;
src: url('../ttf/Ubuntu-B.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBoldItalic;
src: url('../ttf/Ubuntu-BI.ttf') format('truetype');
}

@font-face{
font-family: ubuntuItalic;
src: url('../ttf/Ubuntu-I.ttf') format('truetype');
}


* {
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}	

body {
	font-size: 100%;
	/* max-width: 1140px; */
	width: 90%;
	font-family: ubuntuRegular;
	margin: 0 auto;
}

hr {
	margin-top: 10px;
}

h1 {
	font-size: 2em;
	margin-bottom: 30px;
	text-align: center;
	transform: translate(0px, 20px);
}

h2 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.17em;	
	margin-bottom: 1em;
}

h4 {
	 font-size: 1em;
	 margin-bottom: 1em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .67em;
}

nav {
	margin-bottom: 1em;	
}

nav li {
	display: inline;	
}

nav a {
	text-decoration: none;
}

p{			
	margin-bottom: 1em;
}

a {
	text-decoration: none;
}

label{
	padding-right: 0.5em;		
}

footer p{
	text-align: center;
	margin: 0em;
}

footer {
	background-color: darkslategray;
	padding: 1em;
	clear: both;
	min-height: 10em;
}

.error {
	color: red;
}

main {
	min-height: 40em;
}

header {
	background-color: darkcyan;
}

#datos {
	margin-top: 1em;
	margin-bottom: 1em;
	background: lightgray;
}

input[type="button"], [type="text"], [type="number"] {
	padding: 0.5em;
}

pre {
	margin-top: 2em;	
}

table {
	margin-top: 2em;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

input[type=number] {
	/* appearance: textfield; */
	width: 4em;
	display: inline-block;
}

select {
	padding: 0.5em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.home-images-main {
	height: 19em;
	align-self: center;
	text-align: center;
}

.home-text-main {
	align-self: center;
}

textarea {
	resize: none;
}

#price {
	width: 6em;
}

.products figure {
	height: 10em;
	text-align: center;
	align-self: center;
	margin-bottom: 4em;
}

li {
	list-style: none;
}

figcaption {
	padding: 0.8em;
}

.credentials {	
	border-radius: 0.5em;
	box-shadow: 0em 0em 1em;
	text-align: center;
	padding: 1em;
	margin-top: 3em;
}

.credentials p, .credentials a {
	font-size: 0.7em;	
}

.credentials input[type="submit"], .credentials button[type="submit"] {
	border-radius: 1.5em;
	border: 1px solid gray;
	width: 80%;
}

.credentials form {
	margin-top: 0
}

.legalTermsDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.legalTerms {
	font-size: 0.7em;
}

.cart-items:hover {
	background: rgb(225, 243, 250);
}

/***************** Configuración para móviles **********************/
@media (max-width:480px) {
	.home-images-main {
		height: 13em;		
	}

	.products figure {
		height: 13em;
	}

	.show-product a, .show-product form {
		width: 100%;
		margin-bottom: 0.5em;		
	}

	.show-product button {
		width: 100%;
	}
	
}

/************************************************************************
*			iphone 6/7/8 horizontal														*
************************************************************************/
@media (min-width:481px) and (max-width: 668px) {	

}

/************************************************************************
*			Configuración para tablets portrait (retrato)						*
************************************************************************/
@media (min-width:481px) and (max-width: 768px) {
	.show-product img, .edit-product figure {
		height: 15em;
	}
}

/***************************************************************
*		Configuración para tablets landscape (horizontal)	   *
***************************************************************/
@media (min-width: 769px) and (max-width: 1050px) {
	
}

/***************************************************************
*			 Configuración para KINDLE FIRE					   *
***************************************************************/
@media (min-width: 1051px)  {
	.show-product figure, .edit-product figure {
		height: 20em;
	}
}

