{% extends "base.twig" %}

{% block title %}
    E-commerce | Register
{% endblock title %}

{% block main %}    
    <section class="row">
        <section class="col col-md-9 col-lg-7 col-xl-6 mx-auto credentials">
            <h2 class="text-center">Register Form</h2>
            {% include "register/form_view.twig" %}            
        </section>
    </section> 
{% endblock main %}