{% extends "base.twig" %}

{% block main %}
    <h4>Register view</h4>
    <section class="row">
        <section class="col-6 mx-auto">
            {% include "register/form_view.twig" %}            
        </section>
    </section> 
{% endblock main %}