{% extends "base.twig" %}

{% block title %}
    E-commerce | Register
{% endblock title %}

{% block main %}    
    <section class="row">
        <section class="col-6 mx-auto rounded shadow p-3">
            <h2 class="text-center">Register Form</h2>
            {% include "register/form_view.twig" %}            
        </section>
    </section> 
{% endblock main %}