{% extends "base.twig" %}

{% block title %}
    E-commerce | Admin
{% endblock title %}

{% block main %}
    <h4>Admin view</h4>
    <section class="row mb-3 justify-content-evenly">
        <fieldset class="col-12 col-md-5 rounded shadow p-5 mb-4">
            <legend><h5 class="text-center">Manage Products</h5></legend>
            <ul>
                <li>
                    <a href="/products">Show products</a>
                </li>
                <li>
                    <a href="/products/new">Create Product</a>
                </li>
            </ul>                        
        </fieldset> 
        
        <fieldset class="col-12 col-md-5 rounded shadow p-5 mb-4">
            <legend><h5 class="text-center">Manage Categories</h5></legend>
            <ul>
                <li> 
                    <a href="/category">Show categories</a>
                </li>
                <li>
                    <a href="/category/new">Create Category</a>
                </li>
            </ul>                       
        </fieldset>
    </section>   
{% endblock main %}