{% extends "base.twig" %}

{% block title %}
    E-commerce | Admin
{% endblock title %}

{% block main %}
    <h4>Admin view</h4>
    <section class="row dashboard">
        <!-- Manage products -->
        <fieldset>
            <legend><h5 class="text-center">Manage Products</h5></legend>
            <ul>
                <li>
                    <a href="/products/products/index">Show products</a>
                </li>
                <li>
                    <a href="/products/products/new">Create Product</a>
                </li>
            </ul>                        
        </fieldset> 
        
        <!-- Manage categories -->
        <fieldset>
            <legend><h5 class="text-center">Manage Categories</h5></legend>
            <ul>
                <li> 
                    <a href="/category/category/index">Show categories</a>
                </li>
                <li>
                    <a href="/category/category/new">Create Category</a>
                </li>
            </ul>                       
        </fieldset>

        <!-- Manage documents -->
        <fieldset>
            <legend><h5 class="text-center">Manage Documents</h5></legend>
            <ul>
                <li> 
                    <a href="/admin/document/upload">Upload Documents</a>
                </li>
                <li> 
                    <a href="/admin/document/showDocuments">Show Documents</a>
                </li>                
            </ul>                       
        </fieldset>
    </section>   
{% endblock main %}