<form class="d-inline-block" action="/admin/document/delete/{{ document.document_id }}" method="post" onsubmit="return confirm('¿Do you want to delete the category?')">    
    <button type="submit" class="btn btn-link delete">Delete document</button>
</form>