<form action="/login" method="post">
    <div class="col-sm-12 col-lg-4 d-inline-block text-sm-center text-lg-end">
        <label class="col-form-label text-center text-lg-end" for="email">E-mail:</label>        
    </div>
    <div class="col-sm-12 col-lg-6 d-inline-block mb-2">
        <input class="form-control" type="email" name="email" id="email" value="{{ fields.email }}" placeholder="email@email.com">
    </div>
    <div class="col-sm-12 col-lg-4 d-inline-block text-sm-center text-lg-end">
        <label class="col-form-label text-center text-lg-end" for="password">Password:</label>       
    </div>       
    <div class="col-sm-12 col-lg-6 d-inline-block mb-3">
        <input class="form-control" type="password" name="password" id="password" value="{{ fields.password }}" placeholder="Enter your password">
    </div>          
    <div class="col-sm-12 col-lg-6 d-inline-block">
        <a class="col-12 d-inline-block mb-3" href="#">Forgot password?</a>
        <button class="btn btn-outline-secondary" type="submit">Login</button>
    </div>
    <div class="col-sm-8 mx-auto">
        <p class="mt-3 d-inline-block">Don't have an account?</p> <a href="/register">Sign Up</a>
    </div>
</form>