{% extends "./base.twig" %}

{% block main %}    
    <section class="row">
        <section class="col col-md-9 col-lg-7 col-xl-6 mx-auto credentials">
            <h2 class="text-center">Login Form</h2>
            {% include "login/form_view.twig" %}
        </section>
    </section>    
{% endblock main %}