{% extends "./base.twig" %}

{% block main %}    
    <section class="row">
        <section class="col-6 mx-auto rounded shadow p-3">
            <h2 class="text-center">Login Form</h2>
            {% include "login/form_view.twig" %}
        </section>
    </section>    
{% endblock main %}